* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
}

/* nav */

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav img {
  width: 200px;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  font-weight: 400;
  cursor: pointer;
  transition: all .2s;
}

.nav ul li a {
  text-decoration: none;
  color: black;
}

.nav ul li:hover {
  color: #7B2BF9;
}

.nav ul li + li {
  margin-left: 50px;
}

/* table */

.table-wrap {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.167);
  border-radius: 20px;
  padding: 20px;
  margin-top: 30px;
  padding-bottom: 10px;
  overflow-x: scroll;
}

.table {
  width: 100%;
  padding: 20px;
  border-collapse: collapse;
  border-radius: 20px;
}

.table thead tr th {
  padding-bottom: 20px;
}

.table tbody tr {
  background-color: #e8f8fd8f;
  margin-bottom: 10px;
  border-bottom: 15px solid white;
}

.table tbody tr td {
  padding: 13px;
  text-align: center;
}

.table tbody tr td:nth-child(1) {
  border-radius: 20px 0 0 20px;
}

.table tbody tr td:nth-child(2) {
  border-radius: 0px 20px 20px 0px;
}

/* Search */

.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin-top: 50px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.167);
}

.search__input {
  display: flex;
  width: 100%;
}

.search__input div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input input {
  width: 100%;
  padding-right: 15px;
  flex: 1;
  background-color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
}

.search button {
  width: 200px;
  border-radius: 0 20px 20px 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  background-color: #e8f8fd8f;
  font-weight: bold;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.loading img {
  width: 50px;
}

.error {
  font-size: 18px;
  color: #de4a6f;
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 1020px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 800px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .table tbody tr td:nth-child(2) {
    overflow: hidden;
    width: 200px !important;
    display: block;
  }
}

@media (max-width: 500px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .table tbody tr td:nth-child(2) {
    overflow: hidden;
    width: 200px !important;
    display: block;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav ul {
    margin-top: 30px;
  }

  .search {
    margin-top: 30px;
  }
}
